:root {
  --color: aquamarine;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  background-image: radial-gradient(circle, #000, #010 42em);
  min-height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.frame {
  border: 1px solid var(--color);
  /* background-color: #222; */
  overflow: hidden;
  border-radius: 50%;
  font-size: 36px;
  animation: frameRotate 30s infinite linear;
  filter: blur(6px) contrast(90deg);
}
@keyframes frameRotate {
  to {
    transform: rotate(90deg);
  }
}
.grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(8, 1em);
  grid-template-rows: repeat(8, 1em);
  gap: 1em;
  padding: 1em;
  animation: gridScale 5s infinite linear;
}
@keyframes gridScale{
    to{transform: scale(2);}
}
.square{
   
    z-index: 6;
    width: 1em;height: 1em;
    animation: squareTransform 5s infinite ease-in-out;
}@keyframes squareTransform{
    0%{transform: translate(var(--tx,0),var(--ty,0));}
    30%,100%{transform: translate(0,0);}
}
.square:nth-child(2n+1){--tx:0.5em};
.square:nth-child(2n+2){--tx:-0.5em};
@for $i from 1 through 8{
  .square:nth-child(16n+#{$i}){--ty:0.5em};  
  .square:nth-child(16n+#{$i+8}){--ty:-0.5em};  
}